@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*{
    box-sizing: border-box;
    margin: 0;    
    padding: 0;
    background-color: var(--primary);
    font-family: 'Montserrat', sans-serif;

}
:root {
    --Blue: #0088a9;
    --Black: #24252A;
    --White: #edf0f1;
    --secondary-Blue: rgba(0,136,169,1);
}
.theme {
    --primary: #24252A;
    --secondary: #edf0f1;
}

li , a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--secondary);
    text-decoration: none;
} 
.container {
    color: var(--secondary);
    padding: 20px;
}
/* PC Nav  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
}
.logo {
    cursor: pointer;
    text-align: center;
}
#icon {
    cursor: pointer;
    font-size: 20px;
    color: var(--secondary);

}
.container .title {
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid var(--Blue);
}
.context {
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    /* background-color: #3333; */
    margin-bottom: 10px;
}
.context img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    /* background-color: #333; */
    margin-left: 50px;
    box-shadow: 5px 5px #888888;
}
.context img:hover{
    height: 150px;
    width: 150px;
}
.context video {
    border-left: 2px solid var(--Blue);
    width: 500px;
}
button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}
.context_text {
    padding: 10px;
    text-align: center;
    letter-spacing: 2px;
}
.context_text h1 , .context_text p {
    margin: 5px 0px;
}

.courses{
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    margin-bottom: 4px;
}

.card {
    text-align: center;
    border: 0.5px solid var(--secondary-Blue);
    padding: 5px 10px;
    border-radius: 15px;
    width: 220px;
    height: 220px;
}
.card-btn {
    position: relative;
    margin-top: 15px;
}

.course-img{
    height: 100px;
    width: 100px;
}
.course-long-btn {
    display: block;
    /* margin-left: 45%; */ 
    text-align: center;
}
#code {
    color: var(--secondary-Blue);
}
#copyText {
    padding: 5px 5px;
    width: 100px;
    border: none;
    outline: none;
    color: var(--secondary-Blue);
    font-size: 20px;
}
#btn {
    background-color: #0066ff;
    color: #fff;
    padding: 8px 15px;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
}
#btn::before {
    content:"copied";
    position: absolute;
    top: -45px;
    right: 0px;
    background: #5c81dc;
    padding: 8px 10px;
    border-radius: 20px;
    display: none;
}
#btn::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 25px;
    width: 10px;
    height: 10px;
    background: #5c81dc;
    transform: rotate(45deg);
    display: none;
}
  
#btn.show::before,#btn.show::after {
    display: block;
}
/* Mobile Design*/
@media screen and (max-width: 768px) {
    /* Navigation  */
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px 10%;
        text-align: center;
    }
    span #icon {
        cursor: pointer;
        font-size: 20px;
        color: var(--secondary);
        display: block;
        position: absolute;
    }
    
    /* Uni-Conatiner */
    .container {
        color: var(--secondary);
        padding: 15px;
    }
    .container .title {
        text-align: center;
        padding: 2.5px;
        margin-bottom: 5px;
        border-bottom: 2px solid var(--Blue);
    }
    .context {
        display: block;
        padding: 5px;
    }
    .context img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        /* background-color: #333; */
        margin: 0px auto;
        box-shadow: 5px 5px #888888;
        position: relative;
        justify-content: center;
    }
    .context video {
        margin: 10px auto;
        display: block;
        width: 250px;
        height: 150px;
        border-top: 2px solid var(--Blue);
    }
    
    button {
        padding: 9px 25px;
        background-color: rgba(0,136,169,1);
        border: none;
        border-radius: 50px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
    }
    /* Courses */
    .courses {
        display: block;
        justify-content: center;
        padding: 5px 10px;
        align-items: center;
        text-align: center;
        margin-bottom: 1px;
    }
    .card {
        margin: 15px auto;
        width: 270px;
    }
}