@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;    
    padding: 0;
    background-color: var(--primary);
    font-family: 'Montserrat', sans-serif;

}
:root {
    --Blue: #0088a9;
    --Black: #24252A;
    --White: #edf0f1;
    --secondary-Blue: rgba(0,136,169,1);
}
.theme {
    --primary: #24252A;
    --secondary: #edf0f1;
}

li , a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--secondary);
    text-decoration: none;
} 
.container {
    color: var(--secondary);
    padding: 20px;
}
/* PC Nav  */

.foot_links {
    margin: 15px 5px;
    display: inline-flex;
}
.foot {
    display: block;
    margin: 5px 25px;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}
.blur {
    opacity: 0.2;
    z-index: 0.2;
}
.Contabs {
    color: var(--secondary);
    padding: 20px;
    position: absolute;
    z-index: 100;
    box-shadow: 10px 10px 10px 10px #3333;
    transform: translate(100%,-330%);
}

#edit{
    margin-top: 10px;
}
#closeBtn {
    cursor: pointer;
}
/* Developer Context  */
.context {
    display: flex;
    padding: 10px;
    text-align: center;
    /* background-color: #3333; */
}
.title {
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid var(--Blue);
}
img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    /* background-color: #333; */
    margin-left: 50px;
    box-shadow: 5px 5px #888888;
}

.profile {
    margin: 0px 50px;
    /* background-color: #333; */
    padding: 10px;
}
/* Courses  */
.courses{
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
}

.card {
    text-align: center;
    border: 0.5px solid var(--secondary-Blue);
    padding: 5px 10px;
    border-radius: 15px;
    width: 220px;
    height: 220px;
}
.card-btn {
    position: relative;
    margin-top: 15px;
}

.course-img{
    height: 100px;
    width: 100px;
}
/* articles in left */
.flexedbox {
    display: flex;
}
.left {
    display: block;
    /* background-color: #0066ff; */
    margin-right: 20px;
    
}
.left button {
    display: block;
    padding: 10px 50px;
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
}
.hide {
    display: none;
}
.show {
    display: initial;
}
.right {
    display: block;
    padding: 2px 8px;
}
/* Contact Form */
.contact {
    display: flex;
    padding: 10px 20px;
    justify-content: space-around;
}
.contactDetail {
    display: block;
    padding: 20px;
}
.contactDetail h2 , .contactDetail h4 {
    margin: 5px 0px;
}
.contactForm {
    padding: 20px;
}
.formItem {
    margin: 10px auto;
}

.contactForm input , .formItem textarea {
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid var(--Blue);
    margin-top: 5px;
    padding: 5px 10px;
    width: 100%;
}
#bio {
    border: 0.5px solid var(--Blue);
    padding: 5px 10px;
    border-radius: 10px;
}
/* animation */
@keyframes TextChange {
    0%{
        content: "Web Developer";
    }
    20%{
        content: "Web Designer";
    }
    40%{
        content: "Data Scientist";
    }
    60%{
        content: "Backend Developer";
    }
    80%{
        content: "DataBase Manager";
    }
    100%{
        content: "Successful";
    }
}
/* Mobile Design*/
@media screen and (max-width: 768px) {
    /* Navigation  */
    .foot {
        display: flex;
        overflow-x: hidden;
    }
    button {
        padding: 9px 25px;
        background-color: rgba(0,136,169,1);
        border: none;
        border-radius: 50px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
    }
    #menu {
        font-size: 20px;
        display: block;
        color: var(--Blue);
        margin: 3px 1px;
    }
    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        top: 1.5%;
        left: 3%;
    }
    span #icon {
        cursor: pointer;
        font-size: 20px;
        color: var(--secondary);
        display: block;
        position: absolute;
        top: 1.5%;
        right: 3%;
    }
    /* Banner */
    .banner {
        padding: 40px;
    }
    /* Uni-Conatiner */
    .container {
        color: var(--secondary);
        padding: 15px;
    }
    /* Developer Context */
    .title {
        text-align: center;
        padding: 2.5px;
        margin-bottom: 5px;
        border-bottom: 2px solid var(--Blue);
    }
    .context {
        display: block;
        padding: 5px;
        /* text-align: center; */
        /* background-color: #3333; */
    }
    .context img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        /* background-color: #333; */
        margin: 0px auto;
        box-shadow: 5px 5px #888888;
        position: relative;
        justify-content: center;
    }
    .profile {
        margin: 0px 50px;
        /* background-color: #333; */
        padding: 5px;
    }
    .links{
        padding: 5px;
        justify-content: space-around;
    }
    .links a i {
        font-size: 25px;
        margin: 0px 5px;
        padding: 15px 2px;
    }
    /* Courses */
    .courses {
        display: block;
        justify-content: center;
        padding: 10px 20px;
        align-items: center;
        text-align: center;
    }
    .card {
        margin: 15px auto;
        width: 270px;

    }
    .flexedbox {
        display: block;
    }
    .left {
        display: flex;
        /* background-color: #0066ff; */
        margin-right: 20px;
        position: relative;
        width: 100%;
        overflow-x: scroll;
    }
    .left button {
        display: block;
        padding: 5px 20px;
        max-width: 200px;
        margin-right: 8px;
        text-align: center;
    }
    .Contabs {
        color: var(--primary);
        padding: 15px;
        position: absolute;
        z-index: 100;
        box-shadow: 5px 5px 5px 5px #3333;
        transform: translate(1%,-370%);
        display: block;
    }
    .hide{
        display: none;
    }
}