*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}
a{
    text-decoration: none;
}
i{
    padding-right: 4px;
}
button{
    cursor: pointer;
}
/* Navbar */


/* Banner */


/* Why to us  */


/* visits */
.visits{
    padding: 33px;
    position: relative;
}
.visits h3{
    text-align: center;
}
.visits #visit{
    padding: 10px;
    font-size: 30px;
}   
/* Courses  */
